// top buttons rounded corners
@if $button_settings_enabled == 'true' {
    // top button rounded image_corner
    .list-controls .nav-pills .navigation-toggle {
        border-radius: $button_corner_intensity;
    }

    .list-controls .btn {
        border-radius: $button_corner_intensity;
    }

    .user-main .about .controls .btn {
        border-radius: $button_corner_intensity;
    }

    .nav-pills>li a.active {
        border-radius: $button_corner_intensity;
    }

    .nav-pills>li>a {
      border-radius: $button_corner_intensity;
    }

    .navigation-controls>* {
        border-radius: $button_corner_intensity;
    }

    .list-controls .combo-box .combo-box-header {
        border-radius: $button_corner_intensity;
    }

    .select-kit.single-select.dropdown-select-box .select-kit-header {
        border-radius: $button_corner_intensity;
    }
    
    // border radius small buttons?
    .timeline-container .topic-timeline .timeline-footer-controls .reply-to-post {
        border-radius: $button_corner_intensity;
    }
    
    .btn {
        border-radius: $button_corner_intensity !important;
    }
    
    #topic-footer-buttons .select-kit-header {
        border-radius: $button_corner_intensity !important;
    }
    
    .list-controls .nav-pills .drop {
        border-radius: $button_corner_intensity !important;
    }
}